*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-white: #fff;
  --primary-balck: #333;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

section {
  padding: 5em 0;
}

#header {
  width: 100%;
  background-color: var(--primary-balck);
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul {
  display: flex;
  align-items: center;
}

.ul li {
  padding: 0 2px;
  color: var(--primary-white);
}

.ul li a {
  color: var(--primary-white);
  font-family: sans-serif;
  font-size: 14px;
  /* background-color: dodgerblue; */
  padding: 10px 20px;
  border-radius: 5px;
}

.ul li a:hover {
  background-color: dodgerblue;
}
.mobile-menu {
  display: none;
}

.btn {
  padding: 12px 32px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: #3797f8;
  color: var(--primary-white);
  cursor: pointer;
  user-select: none;
}

.hide {
  display: none;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .ul {
    position: absolute;
    left: 0;
    top: 57px;
    display: block;
    width: 100%;
    box-shadow: 0px 10px 20px -3px #646464;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
  }
  .transform_md {
    transform: scaleY(1) !important;
    transform-origin: top !important;
    transition: all 0.3s ease-in-out;
  }
  .ul li {
    background-color: dodgerblue;
    padding: 20px 0px;
    border-top: 1px solid #333;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 700;
    width: 100%;
    display: block;
  }
  .ul li a {
    color: var(--primary-white);
  }
  .mobile-menu {
    display: block;
    color: var(--primary-white);
    font-size: 28px;
    user-select: none;
    cursor: pointer;
  }
}
